
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href={{url_for('static', filename='stylesheet.css' )}}>
</head>
<body>
    <div class="container">
        <center><h1>Digite aqui seu Usuario!</h1></center>
        
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="flash-messages"> <!-- Div que envolve todas as mensagens flash -->
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <center><br><form action="/login" method="post">
            <label for="login"><h2>Usuario:</h2></label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite aqui seu nome de usuario:" required>
            <br><br><label>Senha:</label><br><br>
            <input type="password" name="senha"><br>
           <br>
            <button type="submit">Enviar</button><br>
        </form></center>

    </div>
</body>
</html>

