<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href={{url_for('static', filename='stylesheet.css' )}}>
</head>

<body>
    <div class="container">
        <center><h1>Digite aqui a Música!</h1>

        
        <div class="flash-messages"> <!-- Div que envolve todas as mensagens flash -->

            <div class="alert alert-{{ category }}"></div>
        </div>
        
        <div class="product-card">
            <h2></h2>

            <form action="/botaoEditar" method="post">
                <label for=""></label>
                <input type="text" name="nome_editado" required>
                <br><br><button type="submit">Adicionar a Playlist</button><br><br></center>

        </div>
</body>

</html>