<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href={{url_for('static', filename='stylesheet.css' )}}>
</head>

<body>

    <center>
        <div class="container">
            <h2>Bem vindo , aqui esta sua Playlist!</h2>
            <p>Total de Musicas: {{total_musicas}}</p>

            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="flash-messages"> <!-- Div que envolve todas as mensagens flash -->
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <ul>
                {% for musica in musicas %}
                <li>
                    <strong>Nome: {{ musica.nome }}</strong><br>
                    <strong>Cantor: {{ musica.cantor }}</strong><br>
                    <strong>Data de lançamento: {{ musica.ano_lancamento }}</strong><br><br>
                </li>
                {% endfor %}
            </ul>

            <h2>Registre aqui sua musica</h2>
            <form action="/adicionar_musica" method="post">
                <label for="nome">
                    <h3>Nome:</h3>
                </label>
                <input type="text" name="nome" placeholder="Digite aqui o nome da musica"><br>

                <label for="descricao">
                    <h3>Cantor:</h3>
                </label>
                <input type="cantor" name="cantor" placeholder="Digite aqui o nome do cantor"><br>

                <label for="lancamento">
                    <h3>Data de Lançamento:</h3>
                </label>
                <input type="date" name="ano_lancamento" placeholder="EX:dd/mm/yy"><br>

                <br><button type="submit">Adicionar Música</button><br>
            </form>

            <p><a href="{{ url_for('blueprint.logout') }}"><button>Logout</button></a></p>
            <p><a href=""><button>Editar musica</button></a></p>
            <p><a href="{{ url_for('blueprint.limpar') }}"><button>Limpar Playlist</button></a></p>

        </div>
    </center>
</body>

</html>